<p style='text-align:center;
          font-family: sans-serif;
          font-weight:bold;
          color:black;
          font-size:40px;
          margin: 30px;'> E-commerce Sales
    <font color='#128EB3'; size='7'>Analytics</font></p>
<p style="text-align:center;
          font-family: sans-serif;
          font-weight:bold;
          color:#616161;
          font-size:20px;
          margin: 30px;">Dashboard ReportðŸ“Š</p>

<div style="width:100%;text-align: center;"> 
    <img align=middle src="https://s3.amazonaws.com/cdn.wp.m4ecmx/wp-content/uploads/2015/05/31143018/Qu%C3%A9-es-el-eCommerce-compressor.jpg" alt="Data Science" style="height:500px;margin-top:2rem;">
</div>

For the development of this project, I will build a synthetic database simulating an e-commerce business of electronic products. The source and inspiration are coming from the following datasets:

- [Sales Product Data](https://www.kaggle.com/datasets/knightbearr/sales-product-data)
- [Marketing: Electronic Products and Pricing Data](https://www.kaggle.com/datasets/arashnic/e-product-pricing)
- [Electronic products and pricing data](https://data.world/datafiniti/electronic-products-and-pricing-data)

<h3 style="text-align: left; background-color: #128EB3; font-family:Trebuchet MS; color: white; padding: 14px; line-height: 1; border-radius:10px"> Notebook goalsðŸ”Ž</h3>

**Context:** 
We are freelance data analysts and we are hired for the following project: 
- E-commerce of electronic products wants to expand its product portfolio, so it would like to know better its customers and their respective consumption patterns, but it has only one year of operation and does not have a large database about them, however, that does not limit us because we can take advantage of the data provided. 

**Business problem:**
- We wish to expand the product catalog offered based on the sales obtained during the last year. 

**Strategic business goal:**
- Generate a visualization and analysis tool that allows us to know our customers better.

**Requirements:**
- An easy-to-use and easy-to-understand visualization tool
- Give insights on customer profiles and their respective consumption patterns
    - Which products are the most purchased?
    - What are the most popular brands
    - What was the best month for sales? How much was earned that month?
    - What City had the highest number of sales?
    - What products are most often sold together?
    - Average time of day when purchases are made

<h3 style="text-align: left; background-color: #128EB3; font-family:Trebuchet MS; color: white; padding: 14px; line-height: 1; border-radius:10px"> Import libraries and building the dataset </h3>

In [1]:
import pandas as pd 
import random

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/sales-product-data/Sales_August_2019.csv
/kaggle/input/sales-product-data/Sales_May_2019.csv
/kaggle/input/sales-product-data/Sales_February_2019.csv
/kaggle/input/sales-product-data/Sales_November_2019.csv
/kaggle/input/sales-product-data/Sales_January_2019.csv
/kaggle/input/sales-product-data/Sales_March_2019.csv
/kaggle/input/sales-product-data/Sales_September_2019.csv
/kaggle/input/sales-product-data/Sales_April_2019.csv
/kaggle/input/sales-product-data/Sales_July_2019.csv
/kaggle/input/sales-product-data/Sales_October_2019.csv
/kaggle/input/sales-product-data/Sales_June_2019.csv
/kaggle/input/sales-product-data/Sales_December_2019.csv
/kaggle/input/e-product-pricing/ElectronicsProductsPricingData.csv
/kaggle/input/products-updated/products_updated.csv

In [2]:
# let's make a list compreension for all the data in the folder
files = [file for file in os.listdir('../input/sales-product-data')] 
# let's make a pandas DataFrame
all_months_data = pd.DataFrame()
# makes a loop for concat the data
for file in files:
    data = pd.read_csv("../input/sales-product-data/" + file)
    all_months_data = pd.concat([all_months_data, data])
# export all data to csv    
all_months_data.to_csv("all_data.csv", index=False)

In [3]:
all_months_data['Order Date'] = pd.to_datetime(all_months_data['Order Date'], dayfirst=True, errors='coerce')
all_months_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186850 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  186305 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 10.0+ MB

In [4]:
#Data cleaning
all_months_data['Order ID'].isnull().sum()

545

In [5]:
all_months_data.drop(all_months_data[(all_months_data['Order ID'].isnull())].index, inplace=True)

In [6]:
all_months_data[all_months_data['Order ID'] == 'Order ID']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
211,Order ID,Product,Quantity Ordered,Price Each,NaT,Purchase Address
243,Order ID,Product,Quantity Ordered,Price Each,NaT,Purchase Address
1291,Order ID,Product,Quantity Ordered,Price Each,NaT,Purchase Address
1412,Order ID,Product,Quantity Ordered,Price Each,NaT,Purchase Address
1427,Order ID,Product,Quantity Ordered,Price Each,NaT,Purchase Address
...,...,...,...,...,...,...
23198,Order ID,Product,Quantity Ordered,Price Each,NaT,Purchase Address
23337,Order ID,Product,Quantity Ordered,Price Each,NaT,Purchase Address
23748,Order ID,Product,Quantity Ordered,Price Each,NaT,Purchase Address
24192,Order ID,Product,Quantity Ordered,Price Each,NaT,Purchase Address
24222,Order ID,Product,Quantity Ordered,Price Each,NaT,Purchase Address

In [7]:
all_months_data.drop(all_months_data[(all_months_data['Order ID'] == 'Order ID')].index, inplace=True)

In [8]:
all_months_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,236670,Wired Headphones,2,11.99,2019-08-31 22:21:00,"359 Spruce St, Seattle, WA 98101"
2,236672,iPhone,1,700.0,2019-06-08 14:40:00,"149 7th St, Portland, OR 97035"
3,236673,AA Batteries (4-pack),2,3.84,2019-08-29 20:59:00,"631 2nd St, Los Angeles, CA 90001"
4,236674,AA Batteries (4-pack),2,3.84,2019-08-15 19:53:00,"736 14th St, New York City, NY 10001"
5,236675,Wired Headphones,1,11.99,2019-02-08 23:54:00,"470 Hill St, San Francisco, CA 94016"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,2019-11-12 20:58:00,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,2019-01-12 12:01:00,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,2019-09-12 06:43:00,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,2019-03-12 10:39:00,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,2019-12-21 21:45:00,"747 Chestnut St, Los Angeles, CA 90001"

In [9]:
all_months_data['Order ID'] = all_months_data['Order ID'].astype('int')
orders_data = all_months_data
orders_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,236670,Wired Headphones,2,11.99,2019-08-31 22:21:00,"359 Spruce St, Seattle, WA 98101"
2,236672,iPhone,1,700.0,2019-06-08 14:40:00,"149 7th St, Portland, OR 97035"
3,236673,AA Batteries (4-pack),2,3.84,2019-08-29 20:59:00,"631 2nd St, Los Angeles, CA 90001"
4,236674,AA Batteries (4-pack),2,3.84,2019-08-15 19:53:00,"736 14th St, New York City, NY 10001"
5,236675,Wired Headphones,1,11.99,2019-02-08 23:54:00,"470 Hill St, San Francisco, CA 94016"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,2019-11-12 20:58:00,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,2019-01-12 12:01:00,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,2019-09-12 06:43:00,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,2019-03-12 10:39:00,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,2019-12-21 21:45:00,"747 Chestnut St, Los Angeles, CA 90001"

In [10]:
# This dataset contains very few products, so we will take only the orders placed. 
orders_data.drop(['Product', 'Price Each'], axis = 'columns', inplace=True)

In [11]:
orders_data = orders_data[['Order ID','Quantity Ordered','Order Date','Purchase Address']]
orders_data.head(2)

,Order ID,Quantity Ordered,Order Date,Purchase Address
0,236670,2,2019-08-31 22:21:00,"359 Spruce St, Seattle, WA 98101"
2,236672,1,2019-06-08 14:40:00,"149 7th St, Portland, OR 97035"

**Note:** 
- At this point, I have downloaded and manipulated the *Marketing: Electronic Products and Pricing Data* dataset, selecting some products, brands, and prices, eliminating unnecessary columns, and adding a category column. As a final result, I have about 150 products, and I have reloaded it to answer the question *Which products are usually bought together?*

In [12]:
prod = pd.read_csv('/kaggle/input/products-updated/products_updated.csv')
prod.drop(columns = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'], inplace=True)
prod

,Product name,Brand,Categories,Price
0,Samsung Gear Iconx 2018 Edition Cordfree Fitne...,Samsung,Gadgets,199
1,Kenwood KFC-1653MRW 6.5 2-way Marine Speakers ...,Kenwood,Gadgets,46.69
2,"Samsung - 50 Class (49.5"" Diag.) - LED - 1080p...",Samsung,Smart TVs,599.99
3,AC Power Adapter and Charger for Select Toshib...,DENAQ,Accessories,19.14
4,Samsung-3-Pack-Connect-Home-Smart-Wi-Fi-System...,Samsung,Gadgets,379
...,...,...,...,...
147,Lenovo IdeaPad 3 i5 8th,Lenovo,Computers,849.99
148,Lenovo IdeaPad 3 i3 8th,Lenovo,Computers,599.99
149,Lenovo Ideapad Gaming 3600H,Lenovo,Computers,859.99
150,Lenovo Ideapad Slim i5 8th,Lenovo,Computers,869.99
151,Lenovo IdeaPad Flex i3 8th,Lenovo,Computers,799.99

In [13]:
# We assign an id to each one of our products
prod['Product ID'] = range(1500, 1652)

In [14]:
prod = prod[['Product ID','Product name','Brand','Categories', 'Price']]
prod

,Product ID,Product name,Brand,Categories,Price
0,1500,Samsung Gear Iconx 2018 Edition Cordfree Fitne...,Samsung,Gadgets,199
1,1501,Kenwood KFC-1653MRW 6.5 2-way Marine Speakers ...,Kenwood,Gadgets,46.69
2,1502,"Samsung - 50 Class (49.5"" Diag.) - LED - 1080p...",Samsung,Smart TVs,599.99
3,1503,AC Power Adapter and Charger for Select Toshib...,DENAQ,Accessories,19.14
4,1504,Samsung-3-Pack-Connect-Home-Smart-Wi-Fi-System...,Samsung,Gadgets,379
...,...,...,...,...,...
147,1647,Lenovo IdeaPad 3 i5 8th,Lenovo,Computers,849.99
148,1648,Lenovo IdeaPad 3 i3 8th,Lenovo,Computers,599.99
149,1649,Lenovo Ideapad Gaming 3600H,Lenovo,Computers,859.99
150,1650,Lenovo Ideapad Slim i5 8th,Lenovo,Computers,869.99
151,1651,Lenovo IdeaPad Flex i3 8th,Lenovo,Computers,799.99

In [15]:
prod.to_csv("ecommerce_product.csv", index=False)

To connect both tables we are going to create a random number column, which will be our product id, in our order table within the range previously made for the product table

In [16]:
orders_data['Product ID'] = [random.randint(1500, 1651) for p in range(0, len(orders_data))]

In [17]:
orders_data.to_csv("ecommerce_orders.csv", index=False)

Finally, we join both tables to answer the question: *What products are most often sold together?*

In [18]:
final_data = orders_data.merge(prod, on=['Product ID'], how = 'inner')
final_data.drop(columns=['Order Date', 'Purchase Address', 'Price'], inplace=True)
final_data

,Order ID,Quantity Ordered,Product ID,Product name,Brand,Categories
0,236670,2,1601,LG 43UQ8040PSB 43 Inch Ultra HD 4K Smart LED TV,LG,Smart TVs
1,236928,1,1601,LG 43UQ8040PSB 43 Inch Ultra HD 4K Smart LED TV,LG,Smart TVs
2,236938,1,1601,LG 43UQ8040PSB 43 Inch Ultra HD 4K Smart LED TV,LG,Smart TVs
3,237139,1,1601,LG 43UQ8040PSB 43 Inch Ultra HD 4K Smart LED TV,LG,Smart TVs
4,237390,1,1601,LG 43UQ8040PSB 43 Inch Ultra HD 4K Smart LED TV,LG,Smart TVs
...,...,...,...,...,...,...
177810,318643,1,1516,SanDisk - High Endurance 64GB microSDXC Memory...,SanDisk,Accessories
177811,318882,1,1516,SanDisk - High Endurance 64GB microSDXC Memory...,SanDisk,Accessories
177812,318973,1,1516,SanDisk - High Endurance 64GB microSDXC Memory...,SanDisk,Accessories
177813,319022,1,1516,SanDisk - High Endurance 64GB microSDXC Memory...,SanDisk,Accessories
177814,319440,1,1516,SanDisk - High Endurance 64GB microSDXC Memory...,SanDisk,Accessories

In [19]:
from itertools import combinations
from collections import Counter

# drop it using duplicated() funct
data = final_data[final_data['Order ID'].duplicated(keep=False)]
# create a new column
data['Grouped'] = final_data.groupby('Order ID')['Product name'].transform(lambda x: ','.join(x))
# let's make a new variable
data = data[['Order ID', 'Grouped', 'Product ID']].drop_duplicates()
# create a new variable for Counter
count = Counter()
# make a for loop
for row in data['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))
# and make another for loop    
for key, value in count.most_common(15):
    print(key, value)

('Xiaomi Mi CC9 Pro Premium Edition', 'Sharp CD-BH950 240W 5-Disc Mini Shelf Speaker System with Cassette and Bluetooth') 15
('450 Mbps 2.4/5GHz Wireless N Dual Band PCI Express Adapter', 'Kenwood KFC-1653MRW 6.5 2-way Marine Speakers Pair (White)') 12
('Xiaomi Mi MIX 3', 'Logitech - Harmony Home Hub - Black') 12
('Samsung Gear Iconx 2018 Edition Cordfree Fitness Earbuds Black (us Version)', 'Apple iPod Touch 128GB Blue') 12
('Sharp - 350W 5-Disc Mini Component System - Black', 'Apple MD825AM/A Lightning to VGA Adapter for iPhones') 12
('HP i5 8th', 'Dell - P2418HT 24 IPS LED FHD Touch-Screen Monitor - Black"') 11
('XB550AP EXTRA BASS Headphones (Black)', 'Dell Inspiron  i3 8th') 11
('Lenovo IdeaPad 3 i5 8th', 'Samsung Gear Iconx 2018 Edition Cordfree Fitness Earbuds Black (us Version)') 11
('Google Pixel 3a', 'Sandisk Extreme CompactFlash Memory Card - 64 GB (SDCFXS-064G-A46)') 11
('Sony - 1155W 7.2-Ch. Hi-Res Network-Ready 4K Ultra HD and 3D Pass-Through HDR Compatible A/V Home Theater Receiver - Black', 'SanDisk - Ultra II 960GB Internal SATA Solid State Drive for Laptops') 10
('Acer Predator G1-710 Desktop Computer - Intel Core i7-6700 3.4 GHz - 16 GB DDR4 SDRAM - 2 TB HDD + 512 GB SSD', 'LG UQ75 43 inch Ultra HD 4K Smart LED TV (43UQ7550PSF)') 10
('Universal Foldable Bluetooth Keyboard for Mobile Devices', 'Samsung Gear Iconx 2018 Edition Cordfree Fitness Earbuds Black (us Version)') 10
('Sony SRSXB3/BLK Portable Wireless Speaker with Bluetooth (Black)', 'HP Pavilion Ryzen 3600H ') 10
('Sony - High Power XB60 Portable Bluetooth Speaker - Black', 'Toshiba Micro Component Speaker System: Wireless Bluetooth Speaker Sound System with FM') 10
('Hisense 50H4D Roku 50-inch HD Smart DLED TV', 'Seagate Backup Plus Ultra Slim 2TB Portable External Hard Drive') 10

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [20]:
sold = count.most_common()

In [21]:
sold_together = pd.DataFrame(sold)
sold_together.rename(columns={0:'Products',
                             1:'Sold together times'}, inplace=True)
sold_together

                                               Products  Sold together times
0     (Xiaomi Mi CC9 Pro Premium Edition, Sharp CD-B...                   15
1     (450 Mbps 2.4/5GHz Wireless N Dual Band PCI Ex...                   12
2     (Xiaomi Mi MIX 3, Logitech - Harmony Home Hub ...                   12
3     (Samsung Gear Iconx 2018 Edition Cordfree Fitn...                   12
4     (Sharp - 350W 5-Disc Mini Component System - B...                   12
...                                                 ...                  ...
5389  (Sony Bravia X80K 55 inch Ultra HD 4K Smart LE...                    1
5390  (Panasonic TH-43LX750DX 43-Inch Ultra HD 4K Sm...                    1
5391  (Panasonic TH-43LS680DX 43 Inch Full HD Smart ...                    1
5392  (Lenovo - 2-in-1 11.6 Touch-Screen Chromebook ...                    1
5393  (Hisense 55U7H 55 inch Ultra HD 4K Smart QLED ...                    1

[5394 rows x 2 columns]

In [22]:
sold_together.to_csv("sold_together.csv", index=False)

<h3 style="text-align: left; background-color: #128EB3; font-family:Trebuchet MS; color: white; padding: 14px; line-height: 1; border-radius:10px"> Results</h3>

Although the dataset manipulation can be done in this notebook thanks to Pandas, I decided to integrate SQL for practice, the dashboard was done in Power BI, below, you can find the script in my GitHub repository and the link to Power BI Service to see the final result

- [Github repository](https://github.com/ArmandoLazalde/E-commerce-Sales-Report)
- [Dashboard proposal 1](https://app.powerbi.com/view?r=eyJrIjoiZjI5Y2I0NTMtNGFiNy00OTNhLThhMzAtNWFlMTAzOTUzMDAyIiwidCI6IjAyNDlhNTcxLWI5YTItNGNhMi1iOTNiLTIwYzc3MDg4ZjA4YiJ9&pageName=ReportSection)
- [Dashboard proposal 2]()

<h3 style="text-align: left; background-color: #128EB3; font-family:Trebuchet MS; color: white; padding: 14px; line-height: 1; border-radius:10px"> Conclusions</h3>

 - Which products are the most purchased?
     - The three best-selling products fall into the smart tv category, the first is XBR-X50E Sony brand, second one LG B7A Series, and Samsung QF7 Series
 - What are the most popular brands?
     - Samsung, LG, Acer, HP
 - What was the best month for sales? How much was earned that month?
     - The best month was december, 15.4M dollars of revenue
 - What City had the highest number of sales?
     - The best city is San Francisco, 31M dollars of revenue
 - What products are most often sold together?
     - Apple Iphone 11 Pro Max and Lenovo Ideapad Slim are one of the most commonly purchased products
 - Average time of day when purchases are made
     - Customers prefer to shop between 11 a.m. and 12 a.m. and between 6 p.m. and 8 p.m.